/docs/
/lib/
/bin/
/.shards/
*.dwarf
config/config.yml
config/rules.yml
config/ref_rules.yml
src/test.cr
src/client_test.cr
src/forward_server_one.cr
src/forward_server_two.cr

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
